/* Swiper Vertical Full Screen Slider */
.mySwiper {
  width: 100% ;
  height: 100vh ;
}


.mySwiper .swiper-wrapper {
  height: 100% ;
}

.mySwiper .swiper-slide {
  height: 100vh ;
  width: 100% ;
}

/* Pagination Dots Styling */
.swiper-pagination {
  position: fixed ;
  right: 30px ;
  top: 50% ;
  transform: translateY(-50%) ;
  width: auto ;
  height: auto ;
  z-index: 50 ;
  display: flex ;
  flex-direction: column ;
  gap: 16px ;
}

.swiper-pagination-bullet {
  width: 12px ;
  height: 12px ;
  /* background: url('/nuqta.png') center no-repeat ; */
  background-size: contain ;
  opacity: 0.5 ;
  margin: 0 ;
  padding: 0 ;
  border-radius: 0 ;
  transition: all 0.3s ease ;
  cursor: none ;
  caret-color: transparent;
}

.swiper-pagination-bullet:hover {
  opacity: 0.75 ;
}

.swiper-pagination-bullet-active {
  opacity: 1 ;
  transform: scale(1.5) ;
}

